DATABASE_URL=postgresql://postgres:<your-rds-password>@cart-db.c3as80a6y0u6.eu-north-1.rds.amazonaws.com:5432/cart_db
AWS_ACCESS_KEY_ID=<your-iam-access-key>
AWS_SECRET_ACCESS_KEY=<your-iam-secret-key>
